In [104]:
import pandas as pd
import urllib.request
import numpy as np
from IPython.display import display
from sklearn.model_selection import StratifiedKFold
from sklearn.naive_bayes import MultinomialNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
from sklearn import preprocessing
from sklearn.preprocessing import OrdinalEncoder
from sklearn import metrics

In [105]:
print('Loading case data ...')
cases = pd.read_csv("pancancer_mutations_merged.csv")
print("done.")

Loading case data ...

/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (2,15,17,21,22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

done.

In [119]:
print(len(cases))
display(cases.head())
print(cases.columns)

1750244

,Unnamed: 0,Hugo_Symbol,Chromosome,Start_Position,End_Position,Strand,Variant_Classification,Variant_Type,BIOTYPE,IMPACT,...,vital_status,days_to_birth,days_to_death,age_at_initial_pathologic_diagnosis,race,ethnicity,pathologic_stage,height,weight,menopause_status
0,0,17935.0,10,123810032,123810032,+,9.0,3.0,16.0,MODERATE,...,Dead,-18341,144.0,50,WHITE,NOT HISPANIC OR LATINO,NaN,NaN,NaN,NaN
1,1,8738.0,10,133967449,133967449,+,13.0,3.0,16.0,LOW,...,Dead,-18341,144.0,50,WHITE,NOT HISPANIC OR LATINO,NaN,NaN,NaN,NaN
2,2,12893.0,11,124489539,124489539,+,9.0,3.0,16.0,MODERATE,...,Dead,-18341,144.0,50,WHITE,NOT HISPANIC OR LATINO,NaN,NaN,NaN,NaN
3,3,17422.0,11,47380512,47380512,+,9.0,3.0,16.0,MODERATE,...,Dead,-18341,144.0,50,WHITE,NOT HISPANIC OR LATINO,NaN,NaN,NaN,NaN
4,4,11487.0,11,89868837,89868837,+,9.0,3.0,16.0,MODERATE,...,Dead,-18341,144.0,50,WHITE,NOT HISPANIC OR LATINO,NaN,NaN,NaN,NaN

Index(['Unnamed: 0', 'Hugo_Symbol', 'Chromosome', 'Start_Position',
       'End_Position', 'Strand', 'Variant_Classification', 'Variant_Type',
       'BIOTYPE', 'IMPACT', 'row', 'cancer_type', 'bcr_patient_barcode',
       'gender', 'vital_status', 'days_to_birth', 'days_to_death',
       'age_at_initial_pathologic_diagnosis', 'race', 'ethnicity',
       'pathologic_stage', 'height', 'weight', 'menopause_status'],
      dtype='object')

In [110]:
h_encoder, vc_ender, vt_encoder, ct_encoder, g_encoder, b_encoder \
  = OrdinalEncoder(),OrdinalEncoder(),OrdinalEncoder(),OrdinalEncoder(), OrdinalEncoder(), OrdinalEncoder()

cases.Hugo_Symbol = h_encoder.fit_transform(cases.Hugo_Symbol.values.reshape(-1, 1))
cases.Variant_Classification = vc_ender.fit_transform(cases.Variant_Classification.values.reshape(-1, 1))
cases.Variant_Type = vt_encoder.fit_transform(cases.Variant_Type.values.reshape(-1, 1))
cases.cancer_type = ct_encoder.fit_transform(cases.cancer_type.values.reshape(-1, 1))
cases.gender=ct_encoder.fit_transform(cases.gender.values.reshape(-1, 1))
cases.BIOTYPE=b_encoder.fit_transform(cases.BIOTYPE.values.reshape(-1, 1))

In [111]:
data= cases[['Hugo_Symbol','Variant_Classification','Variant_Type','gender', 'BIOTYPE']]
labels=cases[['cancer_type']]

In [112]:
shuffle = np.random.permutation(np.arange(data.shape[0]))
X, Y  = data.iloc[shuffle], labels.iloc[shuffle]

In [113]:
display (data.head())

   Hugo_Symbol  Variant_Classification  Variant_Type  gender  BIOTYPE
0      17935.0                     9.0           3.0     1.0     16.0
1       8738.0                    13.0           3.0     1.0     16.0
2      12893.0                     9.0           3.0     1.0     16.0
3      17422.0                     9.0           3.0     1.0     16.0
4      11487.0                     9.0           3.0     1.0     16.0

In [120]:

train_X = X[:1000000]
train_Y = Y[:1000000]

test_X = X[1000000:1100000]
test_Y = Y[1000000:1100000]

In [121]:
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(train_X, train_Y)

In [122]:
pred_Y = clf.predict(test_X)

In [123]:
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(test_Y, pred_Y))

Accuracy: 0.38247